* {
    margin: 0;
    padding: 0;
}
html,body {
    font-size: 62.5%;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 13rem;
    background-color: #5fc0cd;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}
.zgz {
    font-size: 3.4rem;
    background-color: #55a8b3;
    border-radius: 1rem;
    border: none;
    color: #fff;
    padding: 1.5%;
    white-space: nowrap;
    z-index: -1;
}
.zhg {
    font-size: 3.4rem;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    color: #5fc0cd;
    padding: 1.5%;
    white-space: nowrap;
    margin-left: -0.8rem;
}
.positioning {
    width: 4.4rem;
    height: 4.4rem;
    background-image: url(./image/css_sprites.png);
    background-position: -1rem -1rem;
    position: absolute;
    right: 0;
    /* 雪碧图的使用 */
}
.mylist {
    position: absolute;
    top: 13rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e5e7;
}
select {
    text-align-last: center; /*select标签中文本居中方式*/
}
#szd,#su,#brqk {
    background-color: #fff;
    font-size: 2.8rem;
    color: #999999;
    width: 30%;
    border: none;
    border-right: 1px solid #e1e5e7;
    margin: 1rem; 
}
#brqk {
    border:none;
}

.footer {
    position: absolute;
    width: 100%;
    height: 10rem;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    border-top:1px solid #e1e5e7;
    align-items: center;
    font-size: 2rem;
}
.houseimg {
    background-image: url(./image/css_sprites.png);
    background-position: -7.3rem -1rem;
    width: 4.6rem;
    height: 4rem;
}
.myimg {
    background-image: url(./image/css_sprites.png);
    background-position: -1rem -7.3rem;
    width: 4.2rem;
    height: 4.1rem;
}
.mycontent {
    width: 100%;
    position: absolute;
    top: 21rem;
    overflow:auto;
    bottom: 10rem;
    font-size: 2.8rem;
}
li{
    /* height: 18.1rem; */
    border-bottom: 1px solid #e1e5e7;
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}
.box1{
    display: flex;
    align-items: center;
    padding: 2.8rem 0 0 2.8rem;
}
.img1{
    width: 2.8rem;
    height: 2.8rem;
    background-image: url(./image/css_sprites.png);
    background-position: -17.5rem -1rem;
}
.fwrq {
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.box2 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2.8rem 0 0 6.6rem;
}
.img2 {
    display: inline-block;
    width: 1.9rem;
    height: 3.3rem;
    background-image: url(./image/css_sprites.png);
    background-position: -13.9rem -1rem;
    margin: 0 1rem 0 1rem;
}
.time1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.box5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time2 {
    margin-right: 1rem;
    white-space: nowrap;
}
.box3 {
    display: flex;
    align-items: center;
    padding: 2.8rem 0 0 2.8rem;
}
.img3 {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    background-image: url(./image/css_sprites.png);
    background-position: -17.8rem -5.5rem;
}
.adress {
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
