* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    width: 100%;
}
body{
    width: 100%;
}
.a {
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    border: 0.5rem solid red;
    height: 8.8rem;
    align-items: center;
    background-color: #5fc0cd;
}
span {
    height: 7rem;
    width: 14rem;
    font-size: 3.4rem;
}
.button1 {
    background-color: #55a8b3;
    border-radius: 1rem;
    color: #fff;
    margin-right:-0.7rem; 
}
.button2 {
    background-color:#fff;
    border-radius: 1rem;
    color: #55a8b3;
    margin-left: -0.7rem;
}
.img1 {
    width: 4.2rem;
    height: 5rem;
    background-image: url(./image/css_sprites.png);
    background-position: -1rem -1rem;
    position: absolute;
    right: 5rem;
}