@import "../CSSreset.css";
.disf {
  display: flex;
}
.flexjsa {
  justify-content: space-around;
}
.flexsb {
  display: flex;
  justify-content: space-between;
}
.flexfcs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexfc {
  display: flex;
  align-items: center;
}
.flexfcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alignflexs {
  align-items: flex-start;
}
.flexcol {
  flex-direction: column;
}
.justflexend {
  justify-content: flex-end;
}
.flexcolc {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.disn {
  display: none;
}
.disb {
  display: block;
}
.disib {
  display: inline-block;
}
.posa {
  position: absolute;
}
.posr {
  position: relative;
}
.posf {
  position: fixed;
}
.borderbox {
  box-sizing: border-box;
}
.visih {
  visibility: hidden;
}
.visiv {
  visibility: visible;
}
.textac {
  text-align: center;
}
.fontbold {
  font-weight: bolder;
}
.wordbreak {
  word-break: break-all;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}
html {
  font-size: 62.5%;
}
.main {
  padding: 0 18.75%;
}
.main .pagetip {
  height: 78.5px;
  border-bottom: 1.5px solid #d0d6d9;
  font-size: 1.6rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.main .pagetip .a1 {
  color: #000;
}
.main .pagetip .a2 {
  color: #29b078;
}
.main .pagenav {
  height: 59px;
  border-bottom: 1px solid #edf1f2;
  display: flex;
  align-items: center;
}
.main .pagenav ul {
  display: flex;
  align-items: center;
}
.main .pagenav ul li {
  margin-right: 35px;
  font-size: 1.4rem;
}
.main .pagenav ul li:first-child {
  margin-right: 25px;
}
.main .pagenav ul li a {
  color: #000;
  padding: 0.1em;
}
.main .pagenav ul li a:hover {
  background-color: #29b078;
  color: #fff;
}
@media all and (max-width: 1400px) {
  .main {
    padding: 0 10%;
  }
}
@media all and (max-width: 760px) {
  .main {
    padding: 0 3%;
  }
  .main .pagenav ul li {
    margin-right: 5px;
  }
  .main .pagenav ul li:first-child {
    margin-right: 5px;
  }
}
