.ant-advanced-search-form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}
.table img {
  width: 100px;
  height: 100px;
}
.panel-heading {
  background-color: #ddd;
}
.panel-heading button {
  padding: 1px 5px;
  font-size: 12px;
  float: right;
}
