* {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 300px) {
    html {
      font-size: 35.5% !important;
    }
  }
  
  @media only screen and (min-width: 480px) {
    html {
      font-size: 62.5% !important;
    }
  }
  html {
      font-size: 62.5%;
  }
  body {
      background-color: #fafafa;
  }
.toptop {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #29b078;
}
.toplogo {
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo1 {
    width: 2.6rem;
    height: 2.6rem;
    background-image: url(./image/css_sprites.png);
    background-position: -153px -9px;
}
.logo2 {
    width: 2.6rem;
    height: 2.6rem;
    background-image: url(./image/css_sprites.png);
    background-position: -153px -54px;
}
.logo3 {
    width: 2.6rem;
    height: 2.6rem;
    background-image: url(./image/css_sprites.png);
    background-position: -153px -98px;
}
.navtop {
    width: 100%;
    height: 10rem;
    background-color: #29b078;
    border-radius:0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
}
.navcontent {
    width: 50rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a1 {
    color: #fff;
    text-align: center;
    line-height: 10rem;
    width: 10rem;
    text-decoration:none !important;
}
.navtips {
    height: 9.5rem;
    font-size: 1.6rem;
}
.border {
    height: 0.5rem;
    background-color:#fff;
    display: none;
}
a:hover .border {
    display: block;#000
}
/* 上面首部 */
.content {
    height: 133.3rem;
}
.page2 {
    width: 100%;
    height: 100%;
}
.home {
    height: 8rem;
    display: flex;
    align-items: center;
}
.homea1 {
    text-decoration: none !important;
    color: #000;
}
.homea2 {
    text-decoration: none !important;
    color: #29b078;
}
.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.left-thing {
    width: 25%;
    height: 70rem;
    background-color: #fff;
}
.right-thing {
    width: 72%;
    height: 100rem;
    background-color: #fff;
}
.left-box1 {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
.left-box2 {
    display: flex;
    justify-content: space-around;
}  
li {
    height: 5.25rem;
    font-size: 2rem;
    list-style-type: circle !important;
    line-height: 5.25rem;
    color: #fe6711;
}
li {
    color: #29b078;
    font-size: 1.4rem;
    text-decoration: none !important;
}

.firm:hover {
    list-style-type: disc !important;
}
.firm:hover{
    color: #fe6711;
}
.righttop {
    display: flex;
    align-items: center;
}
.potato {
    width: 30%;
}
.history {
    line-height: 2.8rem;
}
p {
    text-indent: 2.8rem;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-top: 2.8rem;
}


/* 区别开 */
/* .aaabbb{
  
    height: 10rem;
    background-color:red;
} */
/* 区别开 */
.footer {
    width: 100%;
    height: 21rem;
    background-color: #29b078;
}
.foot {
    display: flex;
    align-items: center;
}
.footer1 {
    width: 85%;
    height: 16rem;
    display: flex;
    flex-wrap: wrap;
}
.footer2 {
    width: 15%;
    height: 16rem;
}
.footbox1, .footbox3, .footbox5, .footbox7 {
    width: 35%;
    height: 4rem;
    font-size: 1.4rem;
}
.footbox2, .footbox4, .footbox6, .footbox8 {
    width: 65%;
    height: 4rem;
    font-size: 1.4rem;
}
.footer1>div>a {
    color: #fff;
}
.footbox9 {
    width: 35%;
    height: 5rem;
}
.footbox10 {
    width: 65%;
    height: 5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.footer1>div>a {
    text-decoration: none;
}
.footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}
.QRcode {
    width: 10rem;
    height: 10rem;
}